<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  </head>

  <body>
      <div>
        <hr>
        
        <a href="{% url 'blog:index' %}">Logo</a>
        <!-- <a href="{% url 'blog:index' %}">Home</a> -->
        <a href="{% url 'blog:addForm' %}">AddContent</a>
        <hr>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>

        <hr>
        Footer
        <hr>
    </div>
  </body>

</html>