<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  </head>

  <body>
      <div>
        <hr>
        <h1><a href="{% url 'blog:index' %}">Logo</a></h1>
        {% if user.status_login %}
          <!-- <a href="{% url 'blog:addForm' %}">AddContent</a> -->
          <a href="{% url 'account:logout' %}">Logout</a>
        {% else %}
          <a href="{% url 'account:login' %}">Login</a>
          <a href="{% url 'account:register' %}">Register</a>
        {% endif %}
        <div align="center">
          <hr>
            <form action="{% url 'blog:search' %}" method="post">
                {% csrf_token %}
                    <input type="text" name="search"><input type="submit" value="search">
            </form>
          <hr>
        </div>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>

        <hr>
        Footer
        {% if user.status_login %}
          <p>User : {{user.user_name}}<p>
        {% endif %}
        <hr>
    </div>
  </body>

</html>