{% extends 'base_layout.html' %}    
{% block content %}
<div align="center">
    <h1>Create</h1>
    {% if state %}
        <form action="{% url 'blog:addCon' %}" method="post">
            {% csrf_token %}
                <p>Title</p>
                    <input type="text" name="title"><br>
                <p>Content</p>
                    <textarea name="content" rows="4" cols="20"></textarea>
                <br>
                <input type="submit" value="Submit">
        </form>
    {% else %}
        <p> Can't Create Content </p>
    {% endif %}
</div>
    
{% endblock %}