{% extends 'base_layout.html' %}    
{% block content %}
    <!-- <p>This blog is Empty</p> -->
    <h1>Home</h1>
    {% if list %}
        <ul>
            {% if user.status_login %}
                <button><a href="{% url 'blog:addForm' %}">AddContent</a></button>
            {% endif %}
            {% for item in list %}
                <li>{{item.title}}</li>date : {{item.created_at}} <a href="{% url 'blog:detail' item.id %}">Readmore</a>

            {% endfor %}
        </ul>
    {% else %}
        <p>This blog is Empty</p>
    {% endif %}

{% endblock %}