{% extends 'base_layout.html' %}    
{% block content %}
    <h3>Seact Author : {{author}}</h3>
    {% if dictUser %}
        <ul>
            {% for user_i, value_i in dictUser.items %}
                <li>{{ user_i }}</li>
                <ul>
                {% for id, title in value_i.items %}
                    <li><a  href="{% url 'blog:detail' id %}">{{title}}</a></li>
                {% endfor %}    
                </ul> 
            {% endfor %}
        </ul>
    {% else %}
        <p>No result</p>
    {% endif %}

{% endblock %}