{% extends 'base_layout.html' %}    
{% block content %}
<div>
    <h1>Register</h1>
        <form action="{% url 'account:register' %}" method="post">
            {% csrf_token %}
                ID
                    <input type="text" name="id"><br>
                email
                    <input type="text" name="email"><br>
                Password
                    <input type="password" name="password"><br>
                Re-Password
                    <input type="password" name="repassword"><br>
                <br>

                <input type="submit" value="Create">
        </form>
</div>
{% endblock %}